<footer class="flex py-8 px-28 items-center justify-center flex-col w-full mt-6 gap-6">
	<a href="{{ path('app_home') }}" class=" flex flex-col gap-2 items-center">
		<img src="{{ asset('images/logo.svg') }}" alt="logo Runic Arena" class="h-11">
		<p class="text-xl font-bold font-second text-green">Runic Arena</p>
	</a>
	<p class="text-center text-sm">© Copyright 2024 Runic Arena</p>
</footer>
