<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}{% endblock %}
			- Runic Arena</title>
		{% block stylesheets %}
			<link rel="icon" href="{{ asset('images/favicon.ico') }}"/>
			<link rel="stylesheet" href="{{ asset('styles/app.css') }}">
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Indie+Flower&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		{% endblock %}


		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}

	</head>
	<body class="min-h-screen flex flex-col justify-between">
		{% include '_header.html.twig' %}
		<main class="flex flex-col w-4/5 mx-auto"> {% block body %}{% endblock %}
			</main>
			{% include '_footer.html.twig' %}
		</body>
	</html>
