{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<h1 class="my-h1">Runic Arena</h1>

	<p class="my-p">Bienvenue sur Runic Arena, le jeu de cartes en ligne !</p>

	<p class="my-p">Vous pouvez en ajouter de nouvelles.</p>
	<a href="{{ path('app_card_add') }}" class="my-button">Ajouter une carte</a>

	{% if lastCards is not empty %}
		<h2 class="my-h2">Les dernières cartes ajoutées</h2>
		<div class="grid gap-10 grid-cols-1 md:grid-cols-3 lg:grid-cols-5">
			{% for card in lastCards %}
				<twig:Card card="{{card}}" type="{{card.type.name}}" class="{{card.class.name}}"/>
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}
